body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    animation: lol 15s linear .5s infinite;
    background-image: linear-gradient(135deg, #ccc 25%, #ddd 50%, #ccc 50%, #ccc 75%, #ddd 75%, #ddd 100%);
    background-size: 300px 300px;
}

@keyframes lol{
    from{background-position: 0px;}
    to{background-position: 300px;}
}

.random{
    display: flex;
    justify-content: center;
    align-items: center;
}


.random a{
    position: fixed;
    top: 45px;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: 6px;
    color: darkslateblue;
    border: none;
    cursor: pointer;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, .55);
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s;
}

.random:hover{
    filter: brightness(1.33);
    font-weight: 900;
    text-shadow: 5px 5px 11px rgba(0, 0, 0, .55);
}

.bars{
    position: fixed;
    top: 6px;
    right: 8px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
    transition: .7s;
}

.bars:hover{
    color: darkslateblue;
    filter: brightness(1.33);
}

.sidebar{
    z-index: 1;
    height: 100vh;
    width: 400px;
    background-color: #434443;
    border-right: 3px solid #000;
    display: flex;
    justify-content: left;
    cursor: default;
    transition: 1.5s;
    position: relative;
}

.active.sidebar{
    visibility: hidden;
    transform: translateX(-100%);
}

.sidebarhide{
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: .7s;
}

.sidebarhide:hover{
    color: #fff;
}

.sidebar ul{
    margin-top: 80px;
}

.sidebar ul li{
    margin-top: 30px;
    height: 55px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    letter-spacing: 2px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    cursor: pointer;
    transition: 1s;
    position: relative;
}

.sidebar ul li:hover{
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-left: none;
    border-bottom: none;
    background-color: #656665;
    border-radius: 0 10px 0 0;
}

.sidebarcontent div{
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 375px;
    width: 700px;
    height: 500px;
    background-color: #434443;
    transition: .8s;
    border-radius: 3px;
    border-top: 5px solid #656665;
    border-right: 5px solid #656665;
    color: #ccc;
    font-size: 30px;
    text-align: center;
    align-items: center;
    padding: 22px;
    cursor: default;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, .66);
}

.sidebarcontent div:hover{
    border-radius: 20px;
}

.active.functext{
    opacity: 0;
    visibility: hidden;
}

.active.abouttext{
    opacity: 0;
    visibility: hidden;
}

.active.contacttext{
    opacity: 0;
    visibility: hidden;
}

.champions{
    width: 100%;
    height: 100%;
    transition: 2s;
    margin-left: -403px;
}

.active.champions{
    transform: translateY(-80%);
    opacity: 0;
    visibility: hidden;
}

.pyke a{
    position: absolute;
    background-image: url("img/pyke.jpg");
    width: 300px;
    height: 660px;
    top: 170px;
    left: 70px;
    border: 3px solid black;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .55);
    transition: 1.5s;
}

.pyke a:hover{
    filter: brightness(1.33);
    border-radius: 15px;
    top: 140px;
}

.senna a{
    position: absolute;
    background-image: url("img/senna.jpg");
    width: 300px;
    height: 660px;
    top: 200px;
    left: 430px;
    border: 3px solid black;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .55);
    transition: 1.5s;
}

.senna a:hover{
    filter: brightness(1.33);
    border-radius: 15px;
    top: 170px;
}

.swain a{
    position: absolute;
    background-image: url("img/swain.jpg");
    width: 300px;
    height: 660px;
    top: 230px;
    left: 50%;
    transform: translateX(-50%);
    border: 3px solid black;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .55);
    transition: 1.5s;
}

.swain a:hover{
    filter: brightness(1.33);
    border-radius: 15px;
    top: 200px;
}

.thresh a{
    position: absolute;
    background-image: url("img/thresh.jpg");
    width: 300px;
    height: 660px;
    top: 200px;
    right: 430px;
    border: 3px solid black;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .55);
    transition: 1.5s;
}

.thresh a:hover{
    filter: brightness(1.33);
    border-radius: 15px;
    top: 170px;
}

.rakan a{
    position: absolute;
    background-image: url("img/rakan.jpg");
    width: 300px;
    height: 660px;
    top: 170px;
    right: 70px;
    border: 3px solid black;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .55);
    transition: 1.5s;
}

.rakan a:hover{
    filter: brightness(1.33);
    border-radius: 15px;
    top: 140px;
}