body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container{
    height: 100vh;
    width: 100vw;
    animation: lol 15s linear .5s infinite;
    background-image: linear-gradient(135deg, #ccc 25%, #ddd 50%, #ccc 50%, #ccc 75%, #ddd 75%, #ddd 100%);
    background-size: 300px 300px;
    position: relative;
}

@keyframes lol{
    from{background-position: 0px;}
    to{background-position: 300px;}
}

.bars{
    position: fixed;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    cursor: pointer;
    transition: .5s;
    z-index: 1;
    color: #000;
}

.bars:hover{
    filter: brightness(1.33);
}

.sidebar{
    z-index: 1;
    height: 100vh;
    width: 400px;
    background-color: #434443;
    border-right: 3px solid #000;
    display: flex;
    justify-content: left;
    cursor: default;
    transition: 1.5s;
    position: relative;
}

.active.sidebar{
    visibility: hidden;
    transform: translateX(-100%);
}

.sidebarhide{
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 1s;
}

.sidebarhide:hover{
    color: #fff;
}

.sidebar ul{
    margin-top: 80px;
}

.sidebar ul li{
    margin-top: 30px;
    height: 55px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    letter-spacing: 2px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    cursor: pointer;
    transition: 1s;
    position: relative;
}

.sidebar ul li:hover{
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    border-left: none;
    border-bottom: none;
    background-color: #656665;
    border-radius: 0 10px 0 0;
}

.sidebarcontent div{
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 375px;
    width: 700px;
    height: 500px;
    background-color: #434443;
    transition: .8s;
    border-radius: 3px;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    border-radius: 0 0 0 15px;
    color: #ccc;
    font-size: 30px;
    text-align: center;
    align-items: center;
    padding: 20px 50px 20px 50px;
    cursor: default;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, .66);
    z-index: 1;
}

.active.functext{
    opacity: 0;
    visibility: hidden;
}

.active.abouttext{
    opacity: 0;
    visibility: hidden;
}

.active.contacttext{
    opacity: 0;
    visibility: hidden;
}

.champions{
    transition: 2s;
}

.active.champions{
    filter: blur(6px);
}

.champions a{
    width: 550px;
    height: 400px;
    position: absolute;
    border-radius: 0 15px 0 15px;
    box-shadow: 4px 4px 9px rgba(0, 0, 0, .66);
    border: 3px solid #000;
    transition: 2s;
    background-size: cover;
}

.champions a:hover{
    filter: brightness(1.33);
    border-radius: 15px 0 15px 0;
}

.pyke a{
    top: 20px;
    left: 30px;
    background-image: url(img/pyke.jpg);
}

.senna a{
    top: 20px;
    right: 30px;
    background-image: url(img/senna.jpg);
}

.swain a{
    bottom: 20px;
    left: 30px;
    background-image: url(img/swain.jpg);
}

.rakan a{
    bottom: 20px;
    right: 30px;
    background-image: url(img/rakan.jpg);
}

.thresh a{
    top: 20px;
    left: 625px;
    width: 600px;
    background-image: url(img/thresh.jpg);
}

.seraphine a{
    bottom: 20px;
    right: 625px;
    width: 600px;
    background-image: url(img/seraphine.jpg);
}

.random a{
    top: 447px;
    left: 165px;
    width: 80%;
    height: 75px;
    position: fixed;
    border-radius: 0;
    background-color: #656665;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    letter-spacing: 50px;
    text-decoration: none;
    color: #000;
}

.random a:hover{
    border-radius: 0;
}
